<b>
{% if is_state("alarm_control_panel.alarm", "armed_away") -%}
<font color="#4CAF50">ARMED</font>
{%- else -%}
<font color="#F44336">DISARMED</font>
{%- endif %}
<br>-<br>
{% if is_state("binary_sensor.doors_and_windows", "off") -%}
<font color="#4CAF50">CLOSED</font>
{%- else -%}
<font color="#F44336">OPEN</font>
{%- endif %}
</b>
