<p style="text-align: center;">
<p style="text-align: start; line-height: 3em; font-family: monospace;">
<small> </small><br>
💩 {% set waste = states('sensor.litter_robot_5_waste_drawer') | float(0) %}
{% if waste >= 70 %}
<font color="#F44336"><b>{{ '%3d' | format(waste) }}%</b></font> ⚠️
{% elif waste >= 40 %}
<font color="#FF9800"><b>{{ '%3d' | format(waste) }}%</b></font>
{% else %}
<font color="#4CAF50"><b>{{ '%3d' | format(waste) }}%</b></font>
{% endif %}
<br>

🏖️ {% set litter = states('sensor.litter_robot_5_litter_level') | float(0) %}
{% if litter >= 70 %}
<font color="#4CAF50"><b>{{ '%3d' | format(litter) }}%</b></font>
{% elif litter >= 40 %}
<font color="#FF9800"><b>{{ '%3d' | format(litter) }}%</b></font>
{% else %}
<font color="#F44336"><b>{{ '%3d' | format(litter) }}%</b></font> ⚠️
{% endif %}
<br>

🍽️ {% set food = states('binary_sensor.granary_smart_feeder_1_food_status') %}
{% if food == 'off' %}
<font color="#4CAF50"><b>OK</b></font>
{% else %}
<font color="#F44336"><b>LOW</b></font> ⚠️
{% endif %}
<br>

💧 {% set water = states('sensor.dockstream_smart_fountain_remaining_water_2') | float(0) %}
{% if water >= 70 %}
<font color="#4CAF50"><b>{{ '%3d' | format(water) }}%</b></font>
{% elif water >= 20 %}
<font color="#FF9800"><b>{{ '%3d' | format(water) }}%</b></font>
{% else %}
<font color="#F44336"><b>{{ '%3d' | format(water) }}%</b></font> ⚠️
{% endif %}
<br>

🫧 {% set water_days_remaining = states('sensor.dockstream_smart_fountain_remaining_cleaning_days')[:-1] | int %}
{% if water_days_remaining >= 7 %}
<font color="#4CAF50"><b>{{ water_days_remaining }}%</b></font>
{% elif water_days_remaining >= 3 %}
<font color="#FF9800"><b>{{ water_days_remaining }}%</b></font>
{% else %}
<font color="#F44336"><b>{{ water_days_remaining }}%</b></font> ⚠️
{% endif %}
<br>

🧽 {% set filter_days_remaining = states('sensor.dockstream_smart_fountain_remaining_filter_day')[:-1] | int %}
{% if filter_days_remaining >= 7 %}
<font color="#4CAF50"><b>{{ filter_days_remaining }}%</b></font>
{% elif filter_days_remaining >= 3 %}
<font color="#FF9800"><b>{{ filter_days_remaining }}%</b></font>
{% else %}
<font color="#F44336"><b>{{ filter_days_remaining }}%</b></font> ⚠️
{% endif %}
</p>
</p>
